/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*@font-face*/


@font-face {
  font-family: "Rather";
  src: url("/fonts/Rather-Medium.otf") format("otf");
}
@font-face {
  font-family: "Rather";
  src: url("/fonts/Rather-Bold.otf") format("otf");
  font-weight: bold;
}

@font-face {
  font-family: 'CentSchbookMonoBT';
  src: url('CentSchbookMonoBT.eot');
  src: url('CentSchbookMonoBT.woff2') format('woff2'),
       url('CentSchbookMonoBT.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CenturySchoolbookBT-Monospace';
  src: url('CenturySchoolbookBT-Monospace.woff') format('woff'),
       url('CenturySchoolbookBT-Monospace.ttf') format('truetype'),
       url('CenturySchoolbookBT-Monospace.svg#CenturySchoolbookBT-Monospace') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* CSS pour le template */
*{
	opacity: 1;
}
body{
  font-family: "CenturySchoolbookBT-Monospace";

}


h1{
  font-family: "CenturySchoolbookBT-Monospace";

  font-size: 13.5pt;
  margin: .5mm 0;
	line-height: 16.2pt;
}
h2{
  font-family: "Rather";
  font-weight: bold;
  font-size: 13.5pt;
}
h3{
  font-family: "Rather";
  font-weight: bold;
  font-size: 5.4pt;
  margin: 0;
}
p, div[type="fig"] span{
  font-family: "CenturySchoolbookBT-Monospace";
  font-size: 7.2pt;
  line-height: 9pt;
	overflow: hidden;
  text-overflow: ellipsis;
}
span{
	font-family: "Rather";

  font-size: 5.4pt;
  margin: 0;
}


.page{
  background-color: white;
  width:280mm;
  height:75.999mm;

  display: flex;
  align-items: center;

}

.contact{
  transform: translateY(0.3mm) translateX(-16.45mm) rotate(-90deg);
  transform-origin: center;

  width: 66mm;
  display: flex;
  float: left;
  justify-content: space-between;

  margin-right: -46mm;

}

.main{
	box-sizing: border-box;
  display: flex;
  justify-content:space-around;
  width: 126.792mm;
  height: 66mm;
  border: solid black .85pt;

}
.main div:not(.title){
  border: solid black .85pt;
	box-sizing: border-box;
  /*margin: 2mm 1.75mm 2mm 1.75mm;*/
}

.main div p, .title h1{
  /*padding: 2mm 1.75mm 2mm 1.75mm;*/
	padding: 0mm 1.75mm ;
	overflow: hidden;
  text-overflow: ellipsis;
}

.main div div{

  margin: 1.6mm 1.6mm ;
}

.main h3{

  margin: 1.25mm 1.15mm;
}

.col{
  width: 40mm;
  height: 62mm;
  margin-top: 1.8mm;
  margin-bottom: 2mm;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.col-1, .col-2{
  margin-left: 2mm;

}
.col-3, .col-2{
  margin-right: 2mm;
}


/*-- EXCEPTIONS --*/

.title h1{
	height: 22mm;
}

.description{
  position: relative;
  height: 62.077mm;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.description p{

	height: 22mm;
	text-overflow: ellipsis;
	overflow: hidden;
}

.main .description p:nth-of-type(1){
 padding: 0mm 3.75mm;
     margin-top: -2.3mm;
}


.ingredients{
  height: 29.93mm;
  /*vertical-align: bottom;*/
}
.main .ingredients p:nth-of-type(1){
 padding: 0mm 2mm;
     margin-top: 0;
}


.collaborator{
  height: 31.891mm;
}



.col-3 p{
	height: 6.5mm;

}

.abv{
  height: 14.272mm;
  margin: 0 0 2mm 0;

}
.main .abv p:nth-of-type(1){
		padding: 0mm 5.75mm;
}
.details{
  height:46.139mm;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main .details p:nth-of-type(1){
 padding: 0mm 5.75mm;
 margin-top: -7px;
}

.batch{
  height: 29.93mm;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main .batch p:nth-of-type(1){
 padding: 0mm 3.75mm;
}
.content{
  height: 14.028mm;
}

.main .content p:nth-of-type(1){
 padding: 0mm 1.9mm;
 margin-top: 0;
}

.col-4{
	position: relative;
	margin-top: 0;
	margin-bottom: 0;
	height: 66mm;

}


.resp{
	transform: rotate(-90deg) translateX(-100%);
	transform-origin: top left;
	position: absolute;
	top:0.5mm;
	left:2.7mm;
}


.warnings{

	transform: rotate(-90deg) translateX(-49%);
  transform-origin: top left;
	width: 49mm;
	height: 24mm;
	position: absolute;
	bottom: 0;
	left:2.7mm;
}
.barcode{

	position: absolute;
	top:0;
	left:20mm;
}
.barcode img{
	width: 24mm;
}
.best{
	position: absolute;
	width: 18mm;
	height: 9mm;
	left:0;
	top:0;
}
.best span{
	position: absolute;
	top:0;

}
.best p{
	position: absolute;
	top:3.14mm;

}


.mentions{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: absolute;
	left: 6.4mm;
}

.mentions img{

	width:7.8mm;
	margin-bottom: 1.25mm;
}

.col-img .edit{
	max-width:20mm;
  max-height:20mm;

}

.main .col-1 .col-img{

	border:none;

}

/* Toggle vis */
.hidden{
	display:none;
}

.verso{
  display: flex;
  align-items: center;
  justify-content: center;
}
.verso .image{
	position: relative;
  width:272mm;
  height:68mm;
	isolation: isolate;
	/*background-image: linear-gradient(to left, #fddb92 0%, #d1fdff 100%);*/
}
.verso .image div{
  width:100%;
  height:100%;
	position: absolute;
	top: 0;
	left: 0;
	mix-blend-mode: screen;

  /*background-image: linear-gradient(to left, #fddb92 0%, #d1fdff 100%);*/
}

.verso .image div img{
  width:100%;
  height:100%;
	position: absolute;
	top: 0;
	left: 0;
  /*background-image: linear-gradient(to left, #fddb92 0%, #d1fdff 100%);*/
}




.color-layer[data-value='1'] {background-color: #358477}
.color-layer[data-value='2'] {background-color: #BFDEC1;}
.color-layer[data-value='3'] {background-color: #21456E;}
.color-layer[data-value='4'] {background-color: #387998;}
.color-layer[data-value='5'] {background-color: #BBE1E4;}

.color-layer[data-value='6'] {background-color: #E67597;}
.color-layer[data-value='7'] {background-color: #F7CEBA;}
.color-layer[data-value='8'] {background-color: #9B983B;}
.color-layer[data-value='9'] {background-color: #F5EE84;}
.color-layer[data-value='10'] {background-color: #E5723F;}
.color-layer[data-value='11'] {background-color: #F8CB89;}

.color-layer[data-value='12'] {background-color: #9E9F9E;}
.color-layer[data-value='13'] {background-color: #D7D8D6;}


/*Only for debug
body{
  font-family: "CenturySchoolbookBT-Monospace";
	background-color: #ddd;
}

.page{
	background: #000;
  background-image: url('../../debug/debug.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

 end debug */
