/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*   ---   END RESET   ---   */

@font-face {
  font-family: "Rather";
  src: url("/fonts/Rather-Medium.otf") format("otf");
}


@font-face {
  font-family: "Rather";
  src: url("/fonts/Rather-Bold.otf") format("otf");
  font-weight: bold;
}


body{
  font-family: Helvetica sans-serif;
  margin: 0;
  overflow: hidden;

  display: flex;

  height:100vh;
  width:100vw;

}

/* workspace */


#workspace {
  width: 80%;
  height: 100%;
}

#workspace webview{
  width: 100%;
  height: 100%;

  background-color:#dedede;
  background-image: linear-gradient(white .2mm, transparent .2mm),
  linear-gradient(90deg, white .2mm, transparent .2mm),
  linear-gradient(rgba(255,255,255,.3) .1mm, transparent .1mm),
  linear-gradient(90deg, rgba(255,255,255,.3) .1mm, transparent .1mm);
  background-size:10mm 10mm, 10mm 10mm, 2mm 2mm, 2mm 2mm;
}


/* UI */

#ui{
  height: 100%;
  margin: 10px;
  width: 20%;

  font-family:'Rather';

  display:block;
  background:#FFF;

}
#ui .logo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin:20px 0;
}

#ui .logo img{
  width: 25px;


}

#ui .logo h2{
  font-family:'Rather';
  font-weight: bold;
  margin: 0 20px;
}

#ui #template-actions{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 6vh;
	border-bottom: solid 3px  #5264AE;
	padding-bottom: 10px;
}
#ui #template-actions button{
	background: none;
	border: none;
	height: 100%;
}

#ui #template-actions button img{
	height: 100%;

}
#ui #template-actions  label		{
	position: absolute;
  top:-10px;
  font-size:8px;
  color:#5264AE;
}


#ui #template-actions .select-arrow{

		height: 3vh;
    position: absolute;
    opacity:1;

    right: 95px;
}
#ui #template-actions .select-arrow::before, #ui #template-actions .select-arrow::after{
	content: "";
	display: block;
	width: 10px;
	height: 2px;
	background: #5264AE;
	position: absolute;
	top: 10px;
	right:0;
	transition: transform .5s;
}


#ui #template-actions .select-arrow::before {
	right:-5px;
  transform: rotate(-45deg);
}

#ui #template-actions .select-arrow::after {

  transform: rotate(45deg);
}


#ui #interface page{
	/*
  display: flex;
  justify-content: space-between;
  flex-direction: column;*/
	float: left;
	margin: 30px 0 0 0;
}

#ui #interface page h2{
	position: absolute;
	top: 10px;
}

#ui #interface page{
  width: 100%;
	border-bottom: solid 1px  #5264AE;
}

#ui #interface page .page-title{

  display: flex;
  justify-content: space-between;
  align-items: center;
	height: 8vh;

  text-transform: uppercase;
}

#ui #interface page div[class*="-title"]{

	position: relative;

}


#ui #interface page section{
  width: 80%;
}
#ui #interface page section .section-title{
  margin: 30px 0 45px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* DRAWERS */

#ui page {
  max-height: 8vh;
  overflow: hidden;

  transition:0.75s ease all;
  -moz-transition:0.75s ease all;
  -webkit-transition:0.75s ease all;
}


#ui page.active{
  max-height: 100vh;

  transition:0.75s ease all;
  -moz-transition:0.75s ease all;
  -webkit-transition:0.75s ease all;

}

#ui section {
  max-height: 8vh;
  overflow: hidden;

  transition:0.75s ease all;
  -moz-transition:0.75s ease all;
  -webkit-transition:0.75s ease all;
}


#ui section.active{
  max-height: 100vh;

  transition:0.75s ease all;
  -moz-transition:0.75s ease all;
  -webkit-transition:0.75s ease all;


}
#ui section.active h3, #ui page.active h2{
	color:#5264AE;
}

page input[class*='-toggle']{
		margin: 20px 0 0 0;
		width: 25vw;
		height: 3vh;
    position: absolute;
    opacity:1;
    top: -15px;
    left: -99px;
}
section input[class*='-toggle']{
		width: 20vw;
		height: 3vh;
    position: absolute;
    opacity:1;
    top: -22px;
    left: -99px;
}
input[class*='-toggle']::before, input[class*='-toggle']::after{
	content: "";
	display: block;
	width: 20px;
	height: 1px;
	background: #5264AE;
	position: absolute;
	top: 10px;
	right:0;
	transition: transform .5s;
}


input[class*='-toggle']:checked::before,  input[class*='-toggle']:checked::before {
  transform: rotate(-45deg);
}
input[class*='-toggle']:checked::after, input[class*='-toggle']:checked::after {
  transform: rotate(45deg);
}


input[class*='-toggle']:before {

  transform: rotate(0deg);
}

input[class*='-toggle']:after {

  transform: rotate(90deg);
}
input.visibility{
	position: absolute;
	top: 10px;
	right: 40px;
	z-index: 9999;
	appearance:none;
	-webkit-appearance:none;
}
input.visibility::before{
	content:'';
	background: url('ui/core/invisible.png');/*url of image*/
	background-size: cover;
	position: absolute;
	width: 30px;
	height: 15px;
	position: absolute;
}
input.visibility:checked::before{
	content:'';
	background: url('ui/core/visible.png');/*url of image*/
	background-size: contain;
	position: absolute;
	width: 30px;
	height: 15px;
	position: absolute;

}

/* UI INPUTS */

#ui select{
	border: 0;
	-webkit-appearance: none;
	display: inline-block;
	border-bottom: 1px solid #757575;
	background: transparent;
	border-radius: 0px;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-appearance: none;
  -moz-appearance: none;
	font-size: 16px;
	text-transform: uppercase;
	border-bottom:1px solid #757575;
	width: 66%;


}

#ui * { box-sizing:border-box; }

#ui label{text-transform: uppercase;}


/* form starting stylings ------------------------------- */
form 			  {
  position:relative;
  margin-bottom:25px;
}
input:not([type='checkbox']) 	{
  font-size:14px;
  padding:7px 0;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

input[type='radio']{
	height: 100%;
	-webkit-appearance:none;
	-moz-appearance:none;
	border: none;
}

input[type='file']{
	height: 100%;
	opacity: 0;
	position: relative;
	z-index: 3;
}

input[type='file'] ~ img{
	height: 30px;
	width: 21px;
	position: absolute;
	top: 5px;
	left: 10px;
	z-index: 0;
}
.img-label{
	position: absolute;
	top: 15px;
	left: 40px;
	width:130px;
	overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


/* LABEL ======================================= */
#interface label 				 {
  color:#999;
  font-size:14px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
#interface input:focus ~ label	, #interface input:valid ~ label		{
  top:-10px;
  font-size:8px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#5264AE;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
