<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Classic</title>
    <link rel="stylesheet" media="print" href="classic-print.css">
    <link rel="stylesheet" media="screen" href="classic-screen.css">
  </head>
  <body>
    <div class="page recto">
      <!-- Blocs Recto -->
      <span class="contact">
        <h3>B.I.G. Lab, 52 rue de Dunkerque, 75009 Paris </h3>
        <h3>www.big-lab.eu</h3>
      </span>

      <main class="main">
        <section class="col col-1" name="ID">
          <div name="title" class="title" type="title">
            <h1 class="edit">Nom</h1>
          </div>
          <div name="collaborator" class="collaborator" type="string">
            <h3>Collaborator</h3>
            <p class="edit">
            </p>
            <div name="collaborator-image" class="col-img facultative" type="img">
              <img src="" class="edit" alt="">
            </div>
          </div>
        </section>
        <section class="col col-2" name="Description">
          <div name="description" class="description" type="long">
            <h3>Description</h3>
            <p class="edit"></p>
            <div name="ingredients" class="ingredients" type="long">
              <h3>Ingredients</h3>
              <p class="edit"></p>
            </div>

          </div>
        </section>
        <section class="col col-3" name="Details">
          <div name="abv" class="abv" type="fig">
            <h3>ABV</h3>
            <p> <span class="edit"></span><span>% vol</span> </p>
          </div>
          <div name="details" class="details" type="string">
            <h3>Production date</h3>
            <p class="edit"></p>
            <div name="batch" class="batch"  type="string">
              <h3>Batch number</h3>
              <p class="edit"></p>
              <div name="content" class="content" type="long">
                <h3>Content</h3>
                <p class="edit"></p>
              </div>

            </div>

          </div>
        </section>
      </main>
      <section class="col col-4" name="Logistique">
        <div class="mentions">
          <img src="assets/89ca1f77a4f9408a191340fbf0ae42d8.png" class="" alt="">
          <img src="assets/arrow-43944_960_720.png" class="" alt="">
        </div>

        <div name="barcode-image" class="barcode facultative" type="img">
          <img src="assets/Article_-_Les_codes_barres00001.png" class="edit" alt="">
        </div>
        <div class="warnings">
          <span class="resp">Drink responsibly</span>
          <div name="best" class="best facultative" type="string">
            <span>Best before</span>
            <p class="edit">12.24.24</p>
        </div>

        </div>

      </section>
    </div>
    <div class="page verso">
      <!-- Blocs Verso -->
      <section name="Cover">
        <div class="image">
          <div name="color" class="edit color-layer" type="picker" values="colors">
            <datalist id="colors" >
              <option type="color" >1</option>
              <option type="color" >2</option>
              <option type="color" >3</option>
              <option type="color" >4</option>
              <option type="color" >5</option>
              <option type="color" >6</option>
              <option type="color" >7</option>
              <option type="color" >8</option>
              <option type="color" >9</option>
              <option type="color" >10</option>
              <option type="color" >11</option>
              <option type="color" >12</option>
              <option type="color" >13</option>


            </datalist>
          </div>

          <div name="cover image" class="cover-img" type="picker" values="pics">
            <datalist id="pics">
              <option type="image">180703_BIGLab_TrameDroit-19.jpg</option>
              <option type="image">180703_BIGLab_TrameDroit-2.jpg</option>
              <option type="image">180703_BIGLab_TrameDroit-23.jpg</option>
              <option type="image">180703_BIGLab_TrameDroit-24.jpg</option>
              <option type="image">180703_BIGLab_TrameDroit-27.jpg</option>
              <option type="image">180703_BIGLab_TrameDroit-28.jpg</option>
              <option type="image">180703_BIGLab_TrameDroit-32.jpg</option>
              <option type="image">180703_BIGLab_TrameDroit-35.jpg</option>
              <option type="image">180703_BIGLab_TrameDroit-37.jpg</option>
              <option type="image">180703_BIGLab_TrameDroit-42.jpg</option>
              <option type="image">180703_BIGLab_TrameDroit-45.jpg</option>
              <option type="image">180703_BIGLab_TrameDroit-47.jpg</option>
              <option type="image">180703_BIGLab_TrameDroit-49.jpg</option>
              <option type="image">180703_BIGLab_TrameDroit-50.jpg</option>
              <option type="image">180703_BIGLab_TrameDroit-54.jpg</option>
              <option type="image">180703_BIGLab_TrameDroit-58.jpg</option>
              <option type="image">180703_BIGLab_TrameDroit-61.jpg</option>
              <option type="image">180703_BIGLab_TrameDroit-66.jpg</option>
              <option type="image">180703_BIGLab_TrameDroit-68.jpg</option>
              <option type="image">180703_BIGLab_TrameDroit-71.jpg</option>
              <option type="image">180703_BIGLab_TrameDroit-74.jpg</option>
              <option type="image">180703_BIGLab_TrameDroit-77.jpg</option>
              <option type="image">180703_BIGLab_TrameDroit-8.jpg</option>
              <option type="image">180703_BIGLab_TrameDroit-80.jpg</option>
              <option type="image">180703_BIGLab_TrameDroit-84.jpg</option>
            </datalist>
            <img src="" class="edit"  alt="">
          </div>

        </div>
      </section>

    </div>
  </body>
</html>
